
body {
	background: #fafafa;
	font-family: Arial, sans-serif
}

.App { 
	width: 80;
	margin: 50px auto;
	padding:  20px;
	box-shadow: 0px opx 10px 0px rgba(0, 0, 0, 0.1);
	background-color: #fff;
}

h1 {
	text-align: center;
	color: #333;
}